.header {
    width: 100%;
    height: 260px;
    background-image: url('header-background.png');
}

.header-text {
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Merienda-Bold';
    color: #FFFFFF;
    text-align: center;
}