.link-coffee {
    padding-top: 50px;
    padding-left: 150px;
    width: 355px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Merienda-Medium';
}

.link-coffee-first-elem {
    position: relative;
    display: flex;
    height: 40px;
}

.link-coffee-first-elem::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 35px;
    background-image: url('../../img/coffee-logo.png');
    position: absolute;
    left: -35px;
    top: -20px
}