.coffee-cards-items {
    width: 220px;
    height: 260px;
    border-radius: 4px;
    border: 0;
    box-shadow: 4px 4px 18px  0.25px rgba(0, 0, 0, 0.25);
    list-style-type: none;

    &:hover {
        cursor: pointer;
        transition: all 0.5s;
        transform: scale(1.05);
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 26px;
    }
    &__descr {
        width: 172px;
        display: flex;
        flex-direction: column;
    }
    &__img {
        margin-top: 37px;
        width: 167px;
        height: 115px;
        background-image: url('../../img/coffee-cards.png');
    }
    &__name {
        width: 172px;
        height: 15px;
        margin-top: 14px;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Merienda-Medium';
    }
    &__country {
        margin-top: 14px;
        height: 14px;
        align-self: flex-end;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Merienda-Medium';
    }
    &__salary {
        height: 15px;
        margin-top: 14px;
        align-self: flex-end;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-family: 'Merienda-Medium';
    }
}


