body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Merienda-Medium';
  src: local('Merienda-Medium'),
    url('./fonts/Merienda-Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: 'Merienda-Bold';
  src: local('Merienda-Bold'),
    url('./fonts/Merienda-Bold.ttf') format('truetype');
  font-weight: 700;
}

.font-merienda-medium {
  font-family: "Merienda-Medium";
}

.font-merienda-bold {
  font-family: "Merienda-Bold";
}