.description-wrapper {
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
}

.description-flex {
    display: flex;
    justify-content: space-between;
}

.description-img {
    width: 272px;
    height: 355px;
    background-image: url('descr.png');
}

.description-about {
    width: 346px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-header {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Merienda-Medium';
}

.description-text {
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-family: 'Merienda-Medium';
}

.description-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 30px;
}

.description-divider {
    width: 60px;
    height: 1px;
    background-color: black;
}

.descripion-logo {
    background-image: url('coffee-logo.png');
    width: 30px;
    height: 29px;
}

.decsription-footer-divider {
    margin: 0 auto;
    margin-top: 60px;
    width: 240px;
    height: 1px;
    background-color: black;
}