.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 30px;
    &__stick {
        width: 60px;
        height: 1px;
        background-color: black;
    }
    &__logo {
        background-image: url('../../img/coffee-logo-divider.png');
        width: 30px;
        height: 29px;
    }
}
